@media(max-width:768px) {

  .app {
    max-width: 100%;
    height: 100vh;
    border-radius: 0;
  }

  .forecast {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media(max-width:480px) {

  .temp {
    font-size: 40px;
  }

  .header h1 {
    font-size: 22px;
  }

}